---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';

const breaches = await getCollection("breaches");
const breachHtml = breaches.map(b => `<li><a href="${b.id}/">${b.data.Title}</a></li>`).join("\n");
---

<Layout title="Breaches">
  <h1>Breach Index page.</h1>
  <ul set:html={breachHtml}>
</Layout>
