---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Breaches">
  <h1>Breach Index page.</h1>
  <h2>TODO</h2>
  <ul>
    <li>How to display list of breaches without re-scraping HIBP api? content collection? sorcery? local data file?</li>
  </ul>
</Layout>
